.big-container
{
    float: left;
    position: relative;
}



.container {
  position: relative;
  text-align: center;
  border-radius: 5px;
  width: 400px; 
  float: left;
  margin: 2px;
}

.picture
{
    width: 100%;
    border-radius: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

