.container
{
    position: relative;
}


.half-contain-picture
{
    position: relative;
    width :46%;
    float:left;
    margin:2%;
    
}

.display-picture
{
    width: 100%;
    border-radius: 10px;
}

.words
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
